@import url(http://fonts.googleapis.com/css?family=Roboto);
label{
    color:#888888;
}

.box {
    background-color: #FFFCFF;
    border-radius: 25px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
}
label.error{
    color: #FA3C3C;
    font-weight: normal;
}
input.error{
    border: 1px solid #FA3C3C;
}

/************ Buttons ****************/

body{
    font-family: 'Roboto', sans-serif;
}

.btn{
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
    font-weight: bold;
}

.btn-xs{
    font-weight: 300;
}

.btn-hot {
    color: #fff;
    background-color: #009688;
    border-bottom: 2px solid #083833;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
    color: #fff;
    background-color: #4CAF50;
    border-bottom: 2px solid #2C802F;
    outline: none;}


.btn-hot:active, .btn-hot.active {
    color: #fff;
    background-color: #4CAF50;
    border-bottom: 2px solid #2C802F;
    margin-top: 2px;
}

.btn-sunny {
    color: #fff;
    background-color: #f4ad49;
    border-bottom:2px solid #c38a3a;
}

.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
    color: #fff;
    background-color: #f5b75f;
    border-bottom:2px solid #c4924c;
    outline: none;
}


.btn-sunny:active, .btn-sunny.active {
    color: #fff;
    background-color: #d69840;
    border-top:2px solid #ab7a33;
    margin-top: 2px;
}

.btn-fresh {
    color: #fff;
    background-color: #51bf87;
    border-bottom:2px solid #41996c;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
    color: #fff;
    background-color: #66c796;
    border-bottom:2px solid #529f78;
    outline: none;
}


.btn-fresh:active, .btn-fresh.active {
    color: #fff;
    background-color: #47a877;
    border-top:2px solid #39865f;
    outline: none;
    outline-offset: none;
    margin-top: 2px;
}

.btn-sky {
    color: #fff;
    background-color: #4CAF50;
    border-bottom: 2px solid #2C802F;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
    color: #fff;
    background-color: #4CAF50;
    border-bottom: 2px solid #2C802F;
    outline: none;
}

.btn-sky:active, .btn-sky.active {
    color: #fff;
    background-color: #0a97b9;
    border-top:2px solid #087994;
    outline-offset: none;
    margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}

.lbl
{
    text-align:left !important;
}

.progress-bar-success {
    background-color: #20CE00;
}

/* Credit amount text input */
.qty {
    width: 100px;
    height: 25px;
    text-align: center;
    padding: 16px 0;
}
input.qtyplus { width:25px; height:25px; padding: 0 }
input.qtyminus { width:25px; height:25px; padding: 0 }

input{line-height: normal; !important;}

/* to hide input arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* to hide input arrow */

.multi_step_content{
    width:100%;
    margin-right: 0;
    margin-left: 0;
}

.payment_checkout_label{
    margin: auto;
    color:black;
    font-weight: bold;
}

.payment_checkout_total_content{
    border-top: 1px solid black;
    width:100%;
    margin-right: 0;
    margin-left: 0;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}


.my_resume_textarea textarea {
    border: 1px solid #aaaaaa;
    color: #000000; ,
}

.tab{
    width: 70vh;
}

.error {
    border: 1px solid #f00;
}

.valid {
    border: 1px solid #4CAF50;
}
