<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{title}}
      <table>
          <tr>
             <th>#</th>
             <th>Title</th>
             <th>Any date</th>
          </tr>
          {% for instance in queryset %}
          <tr>
             <td>{{forloop.counter}}</td>
             <td>{{instance.title}}</td>
             <td>{{instance.any_date}}</td>
          </tr>
          {% endfor %}
      </table>
</body>
</html>