<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
    <title>Title</title>
    <style type="text/css">


        .header {
            font-size: 20px;
            font-weight: 100;
            text-align: center;
            color: #007cae;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 4px;
            font-size: 10px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <div class='wrapper'>
        <div class='header' style="margin-bottom:50px;">
            <img src="../static/logo.png" height='75px'>
        </div>
        <div>
            <div class='details'>
                <table border="1" width="100%">
                    <tr>
                        <th>CO</th>
                        <th>SO2</th>
                        <th>CO2</th>
                        <th>Dust C.</th>
                        <th>NO2</th>
                        <th>Temp.</th>
                        <th>RH</th>
                        <th>date</th>
                        <th>latitude</th>
                        <th>longitude</th>
                        <th>Drone Code</th>
                    </tr>
                    <tr>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                    </tr>
                    <tr>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                    </tr>
                    </tr>
                    <tr>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                    </tr>
                    </tr>
                    <tr>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                        <td>{{amount}}</td>
                    </tr>
                </table>
</body>

</html>




</div>
</div>
</body>

</html>