{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    <h1>Index</h1>
    <a href="{% url 'payment_app:pay' %}" class="btn btn-success">Ödeme</a>
    <a href="{% url 'payment_app_3ds:pay_init' %}" class="btn btn-success">3ds Ödeme</a>
</body>
</body>
</html>